<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직원 정보 수정</title>
    <style>
        .container {
          margin:20px auto;
          padding:20px;
          width:800px;
        }
        .ui.grid.mb {
          margin-bottom:4px;
        }
        .ui.button.right.floated.ml {
          margin-left:10px;
        }
        .content.center {
          text-align: center;
        }
      </style>
      <!-- jQuery랑 simantic UI 가져오기 -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
</head>
<body>
    <div class="form_container">
        <input type="hidden" name="selected_department" value="<%= data.department_idx%>"/>
        <input type="hidden" name="selected_position" value="<%= data.position_idx%>"/>

        <form class="ui form" action="/detail/update/<%= data.hr_idx %>" method="POST">
            <div class="three fields">
              <input type="hidden" name="hr_idx" value="<%= data.hr_idx%>"/>
              <div class="field">
                <label>이름</label>
                <input type="text" name="hr_name" placeholder="이름을 입력하세요" value="<%= data.hr_name %>">
              </div>
              <div class="field">
                <label>소속부서</label>
                <!-- <input type="text" name="department" placeholder="부서를 입력하세요"> -->
                <select class="ui dropdown" name="hr_department">
                    <option value="">부서 선택</option>
                    <% departments.forEach(function(item){ %>
                        <option value="<%=item.department_idx%>"><%=item.department_name%></option>
                    <% }) %>
                </select>
              </div>
              <div class="field">
                <label>직급</label>
                <!-- <input type="texts" name="position" placeholder="직급을 입력하세요"> -->
                <select class="ui dropdown" name="hr_position">
                    <option value="">직급 선택</option>
                    <% positions.forEach(function(item){ %>
                        <option value="<%=item.position_idx%>"><%=item.position_name%></option>
                    <% }) %>
                </select>
              </div>
            </div>
            <!-- 비고란 추가 -->
            <div class="field">
                <label>비고</label>
                <input type="text" name="hr_memo" placeholder="비고 작성" value="<%= data.hr_memo %>">
            </div>
            <button type="submit" class="ui blue button">수정하기</button>
            <script>
                $('select[name=hr_department]').dropdown('set selected', $('input[name=selected_department').val());
                $('select[name=hr_position]').dropdown('set selected', $('input[name=selected_position').val());
            </script>
        </form>
    </div>
</body>
</html>