<html>
    <head>
        <title>관리 페이지</title>
        <style>
            .container {
                margin:20px auto;
                padding:20px;
                width:800px;
                background-color:#edf5f4;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <!-- jQuery, semantic ui js -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="/script/selection.js"></script>
    </head>
    <body>
        <%- include('./selection_modal') %>
        <input type="hidden" name="selected_data"/>
        <input type="hidden" name="selected_part" value="<%= page_type%>"/>
        <div class="container">
            <h4 class="ui horizontal divider header">
                <i class="building outline icon"></i>
                <%if (page_type === 'department') { %>
                    부서관리
                <%} else { %>
                    직급 관리
                <%} %>  
            </h4>
            <!-- 등록하는 폼 -->
            <div method="post" class="ui form warning">
                <div class="field">
                    <label>신규등록</label>
                    <input type="text" name="name" placeholder="추가할 항목을 입력해주세요">
                </div>
                <div class="ui blue button add">추가하기</div>
            </div>
            <h4 class="ui horizontal divider header">
            <i class=" table icon"></i>
            내역보기
            </h4>
            <table class="ui definition table">
                <tbody>
                    <% list.forEach(function(item){ %>
                        <% if(page_type === 'department') { %>
                            <tr data-number="<%= item.department_idx %>">
                                <td><%= item.department_name %></td>
                                <td class="two wide column">
                                    <button class="ui inverted red button delete">삭제</button>
                                </td>
                            </tr>
                        <% } else { %>
                            <tr data-number="<%= item.position_idx %>">
                                <td><%= item.position_name %></td>
                                <td class="two wide column">
                                    <button class="ui inverted red button delete">삭제</button>
                                </td>
                            </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>